* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: rgba(27, 33, 51, 1);
  width: 98vw;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 100;
  color: rgba(195, 205, 242, 1);
  overflow-y: scroll;
  line-height: 1.5;
}

#app {
  display: grid;
  grid-template-rows: 15vh 70vh 15vh;
  align-items: center;
}

header {
  height: 20vh;
  min-height: 100px;
  text-align: center;
  align-self: start;
}

header h1 {
  width: 100%;
  color: rgba(66, 213, 185, 1);
  font-size: 3.5em;
  font-weight: 100;
  padding-top: 2.5%;
  padding-bottom: 0;
}

header p {
  margin: 0;
  font-size: 1.5em;
  font-weight: 100;
}

header span, .total-results span {
  font-weight: 400;
}

section {
  height: 60vh;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

h1, h2 {
  width: 50vw;
  margin: 0;
}

h2 {
  font-size: 2.25em;
  font-weight: 400;
  color: rgba(66, 213, 185, 1);
  line-height: 1.2;
  padding: 0 5%;
}

h2 p {
  padding: 5%;
  margin-bottom: 15px;
}

code {
  font-family: monospace;
  font-size: .8em;
  background: rgba(255, 255, 255, .15);
  padding: 3px 5px;
  margin: 0 2px;
  color: #DDD;
}

ol {
  position: relative;
  width: 40vw;
  margin-right: 5%;
  font-size: 1.5em;
}

li {
  position: relative;
  padding: 10px;
  margin: 5px;
}

input {
  display: none;
  padding: 5px;
}

label {
  cursor: pointer;
  color: rgba(66, 213, 185, 1);
  font-weight: normal;
}

label:after {
  opacity: 0;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(195, 205, 242, .15);
  transition: .15s;
}

label:hover:after {
  opacity: 1;
  background: rgba(195, 205, 242, .15);
}

input:checked + label:after {
  opacity: 1;
  z-index: -1;
}

.question {
  color: rgba(195, 205, 242, 1);
}

.results li {
  visibility: hidden;
}

.results .visible {
  visibility: visible;
}

.results li p {
  margin: 0;
  font-weight: normal;
}

button {
  width: 120px;
  color: rgb(249, 251, 252);
  border: none;
  font-size: 1em;
  padding: 20px 30px;
  cursor: pointer;
  transition: .2s;
  outline: none;
}

button:focus {
  background: rgba(255, 255, 255, .05);
}

.submit {
  background: none;
  border: .5px solid rgb(47, 145, 127);
}

.submit:disabled {
  cursor: default;
  pointer-events: none;
  color: rgba(255, 255, 255, .5);
  background: rgba(255, 255, 255, .1);
  border-color: transparent;
}

.next {
  background: none;
  border: .5px solid rgba(77, 138, 250, 1);
}

footer {
  height: 20vh;
  text-align: center;
}

.total-results {
  flex-direction: column;
  justify-content: center;
}

.total-results h2 {
  text-align: center;
  padding-bottom: 0;
}

.total-results p {
  font-size: 2em;
}

.correct {
  animation: bounce .25s infinite;
}

.incorrect {
  animation: shake 0.5s cubic-bezier(.35,.05,.20,.99) both;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}

@keyframes shake {
  10%, 90% {
    transform: translateX(-1px);
  }
  20%, 80% {
    transform: translateX(1px);
  }
  30%, 50%, 70% {
    transform: translateX(-2px);
  }
  45%, 55% {
    transform: translateX(2px);
  }
}

@media only screen and (max-width: 1100px) {
  body {
    font-size: 14px;
  }

  h2, ol {
    width: 80vw;
  }

  h2, h2 p {
    padding: 0;
  }

  ol {
    margin-top: 0;
  }

  section {
    flex-direction: column;
    justify-content: normal;
  }
}
